<div class="side-bar">
    <div class="brand">
        <img class="company-logo" src="../assets/images/logo.png" alt="Pomo & co" />
        <span class="company-name">Pomo & co</span>
    </div>
    <div class="side-bar-menu">
        <ul class="menu">
            <li class="item active">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span class="icon"><i class="bi bi-journal-text"></i></span>
                    <span>Orders</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span class="icon"><i class="bi bi-envelope"></i></span>
                    <span>Notification</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span class="icon"><i class="bi bi-question-circle"></i></span>
                    <span>Help & Support</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
        <div class="user-detail">
            <div class="user-name">
                <span>Mark Clarke</span>
            </div>
            <div class="user-email">
                <span>markclarke@gmail.com</span>
            </div>
        </div>
    </div>
</div>