.side-bar {
    height: 100vh;
    width: 20%;
    border-radius: 0px 24px 24px 0px;
    background: #f7f7f7;
    position: fixed;
    .brand {
        margin: 38px 0 0 30px;
        .company-logo {
            height: 22px;
            width: 43px;
        }
        .company-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-left: 6px;
            vertical-align: top;
        }
    }
    .side-bar-menu {
        margin-top: 56px;
        .menu {
            padding: 0;
            margin: 0 16px 0 16px;
            list-style-type: none;
            .item {
                height: 56px;
                border-radius: 12px;
                a {
                    display: block;
                    padding: 16px 0 16px 16px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #626264;
                    text-decoration: none;
                }
                .icon {
                    margin: 0 16px 0 0;
                }
            }
            .item.active {
                background: #503e9d;
                a {
                    color: #f7fafc;
                }
            }
        }
    }
    .user-detail {
        margin-left: 32px;
        bottom: 36px;
        position: absolute;
        .user-name {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
        }
        .user-email {
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
        }
    }
    @media only screen and (max-width: 600px) {
        display: none;
    }
}
