.main-container {
    display: flex;
    .page-container {
        width: 100%;
        overflow-y: auto;
        margin-left: calc(20% + 32px);
        transition: margin-left 0.3s;
        @media only screen and (max-width: 600px) {
            margin-left: 16px;
        }
    }
}
